- build_form_for @login || Login.new, :url => session_url do |f|
  = f.text_field :login, :label => "Username or Email"
  = f.password_field :password
  = f.check_box :remember_me

  .actions
    = f.submit "Log In"

- form_tag open_id_complete_path do 
  = text_field_tag "openid_url" 
  = check_box_tag :remember_me
  = submit_tag "submit"